<div >
  <div class="quiz-container" *ngFor="let q of questions; index as i; trackBy: trackFn">

    <app-question class="quiz-question-container" [question]="q"
                   (change)="userAnswers[i] = $event"
    >
    </app-question>

    <div class="chane-question-btn">
      <!--use ngTemplateOutlet and pass context data-->
      <ng-container *ngTemplateOutlet="updateQuestionTemplate; context: { data: q }"></ng-container>
    </div>
  </div>
</div>

<div>
  <button class="inverse large custom-btn" *ngIf="userAnswers.length == 5" (click)="submit()">
    Submit
  </button>
</div>
