.custom-btn{
  border-radius: 5px;
  line-height: 20px;
}
.quiz-container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.chane-question-btn {
  margin: 15px;
}
.quiz-question-container{
  flex: 2;
}
